DEBUG=true
SECRET_KEY='897duy83f7fgfogfbr7fbe8fefvefy988fyeryfe8efv67762tdwwewefbfebf'
ALLOWED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DB_DRIVER=mysql+pymysql
DB_USER=jobuser
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=3306
DB_NAME=job_tracker

MYSQL_ROOT_PASSWORD=password