fastapi
uvicorn[standard]
pydantic
pydantic-settings
pydantic[email]
cryptography
mysql-connector-python
pymysql
python-jose[cryptography]
python-multipart
bcrypt==4.0.1
passlib
sqlalchemy
python-dotenv
slowapi
alembic